<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="000_Assy_Full.SLDASM">
  <!-- ================================================================================= -->
  <!-- LINK Main Body -->
  <link
    name="Main Body">
    <inertial>
      <origin
        xyz="-0.00103355831047746 -5.85934555886878E-07 0.095898315980789"
        rpy="0 0 0" />
      <mass
        value="3.83790046512082" />
      <inertia
        ixx="0.00293557255778769"
        ixy="-1.41459085135855E-07"
        ixz="6.29875730526683E-08"
        iyy="0.00321803531509905"
        iyz="-3.4241970232236E-08"
        izz="0.00348676153224273" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Main Body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Main Body.STL" />
      </geometry>
    </collision>
  </link>
  <!-- ================================================================================= -->
  <!-- LINK Hip Right -->
  <link
    name="Hip Right">
    <inertial>
      <origin
        xyz="0.127254632212811 0.000149488360941571 -0.0202957404054771"
        rpy="0 0 0" />
      <mass
        value="1.35740771972829" />
      <inertia
        ixx="0.0011046805012951"
        ixy="-1.17567400584849E-12"
        ixz="3.52851108220559E-05"
        iyy="0.0026882993281322"
        iyz="-1.78555184960488E-12"
        izz="0.00358481924686636" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Hip Right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.5 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Hip Right.STL" />
      </geometry>
    </collision>
  </link>
  <!-- ================================================================================= -->
  <!-- LINK Hip Left -->
  <link
    name="Hip Left">
    <inertial>
      <origin
        xyz="0.127254632212811 -0.000149488360941571 -0.0202957404054771"
        rpy="0 0 0" />
      <mass
        value="1.35740771588615" />
      <inertia
        ixx="0.00110468050069669"
        ixy="-1.20679753946943E-12"
        ixz="3.52851108379561E-05"
        iyy="0.00268829932797972"
        iyz="-1.70863288253241E-12"
        izz="0.0035848192464673" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Hip Left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.5 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Hip Left.STL" />
      </geometry>
    </collision>
  </link>
  <!-- ================================================================================= -->
  <!-- LINK Femur Right -->
  <link
    name="Femur Right">
    <inertial>
      <origin
        xyz="-0.057068986739219 0.0989281192242479 0.0245054709378571"
        rpy="0 0 0" />
      <mass
        value="0.841171867100181" />
      <inertia
        ixx="0.00396847721845167"
        ixy="0.00213805178398913"
        ixz="1.55175080684272E-14"
        iyy="0.0016220940522616"
        iyz="-2.74324291581196E-14"
        izz="0.00550143980148414" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Femur Right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Femur Right.STL" />
      </geometry>
    </collision>
  </link>
  <!-- ================================================================================= -->
  <!-- LINK Femur Left -->
  <link
    name="Femur Left">
    <inertial>
      <origin
        xyz="-0.057068986739219 -0.0989281192242479 0.0243581895610647"
        rpy="0 0 0" />
      <mass
        value="0.845028163769262" />
      <inertia
        ixx="0.0039686644146834"
        ixy="-0.00213805171958798"
        ixz="7.55475461919689E-16"
        iyy="0.00162228105548006"
        iyz="-4.4930964331058E-15"
        izz="0.00550146037446654" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Femur Left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Femur Left.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Joint Main body to hip right abduction -->
  <joint
    name="Hip Joint Right Adduction"
    type="fixed">
    <origin
      xyz="0.12179 -0.10812 -0.16534"
      rpy="-2.8244 0 3.1416" />
    <parent
      link="Main Body" />
    <child
      link="Hip Right" />
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- Joint Main body to hip left abduction -->
  <joint
    name="Hip Joint Left Adduction"
    type="fixed">
    <origin
      xyz="0.121794924630579 -0.0938366694238008 0.167247868377338"
      rpy="0.051513058093229 0 3.14159265358979" />
    <parent
      link="Main Body" />
    <child
      link="Hip Left" />
    <axis
      xyz="0 0 0" />
  </joint>

  <joint
    name="Four Bar Hip Joint"
    type="fixed">
    <origin
      xyz="0 0 0.0125999999782441"
      rpy="-3.14159265358979 0 -2.86931947413175" />
    <parent
      link="Hip Right" />
    <child
      link="Four Bar Beam Right" />
    <axis
      xyz="0 0 0" />
  </joint>

  <joint
    name="Four Bar Pivot Right"
    type="fixed">
    <origin
      xyz="-0.127050006683462 -0.0291598597804043 -0.00250000000597414"
      rpy="-3.14159265358752 0.776923357705932 -0.23721878662446" />
    <parent
      link="Four Bar Beam Right" />
    <child
      link="Four Bar Link Right" />
    <axis
      xyz="0 0 0" />
  </joint>


  <joint
    name="Hip Joint Right"
    type="fixed">
    <origin
      xyz="0.249999999630666 0 -0.00480000000676006"
      rpy="0 0 2.96910500153293" />
    <parent
      link="Hip Right" />
    <child
      link="Femur Right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Shin Right">
    <inertial>
      <origin
        xyz="0.000351968301704697 0.00023703952367618 -0.240166762432412"
        rpy="0 0 0" />
      <mass
        value="0.45989184587505" />
      <inertia
        ixx="0.00658385058161262"
        ixy="-1.46731746406004E-08"
        ixz="8.89465068409669E-07"
        iyy="0.0066261606946727"
        iyz="1.29242241620587E-14"
        izz="5.30349027361131E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Shin Right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Shin Right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Knee Right"
    type="fixed">
    <origin
      xyz="-0.175000008569798 0.303108885530675 0.026599999994807"
      rpy="1.57079632679684 0 -1.21213021131232" />
    <parent
      link="Femur Right" />
    <child
      link="Shin Right" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="Foot Right">
    <inertial>
      <origin
        xyz="0.0433927710286527 0.017424286170362 -0.154652304991723"
        rpy="0 0 0" />
      <mass
        value="0.498036623860506" />
      <inertia
        ixx="0.000883686538349972"
        ixy="-6.56904543781811E-16"
        ixz="0.000248107457960729"
        iyy="0.000946003759259067"
        iyz="2.206752914625E-15"
        izz="0.000138874280195633" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Foot Right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Foot Right.STL" />
      </geometry>
    </collision>
  </link>

  <joint
    name="Ankle Right"
    type="fixed">
    <origin
      xyz="0.0519713537290222 -0.0174999999937875 -0.532050286670248"
      rpy="3.14159265358467 1.01819406074648 3.14159265357114" />
    <parent
      link="Shin Right" />
    <child
      link="Foot Right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Achilles Tendon Right">
    <inertial>
      <origin
        xyz="0.0915646152614171 0.0767829642441324 -0.0050734462019475"
        rpy="0 0 0" />
      <mass
        value="0.30962539233588" />
      <inertia
        ixx="0.000213362737482866"
        ixy="-0.000218506864286905"
        ixz="-9.27977790478318E-08"
        iyy="0.000290715107261993"
        iyz="-8.12973199923377E-08"
        izz="0.000475045385310673" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Achilles Tendon Right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Achilles Tendon Right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Achilles Pivot Right"
    type="fixed">
    <origin
      xyz="-0.123782385542232 0.26339736004743 0.0431000000127672"
      rpy="-3.14159265356473 0 1.05650101852199" />
    <parent
      link="Femur Right" />
    <child
      link="Achilles Tendon Right" />
    <axis
      xyz="0 0 0" />
  </joint>


  <link
    name="Four Bar Beam Left">
    <inertial>
      <origin
        xyz="-0.0110194531294712 6.192246579384E-08 -0.00347757298768969"
        rpy="0 0 0" />
      <mass
        value="0.142630655141381" />
      <inertia
        ixx="2.65320509703447E-05"
        ixy="-5.40039851564057E-11"
        ixz="-2.10637056358986E-15"
        iyy="7.85995422672431E-05"
        iyz="-1.73436073411715E-15"
        izz="9.9876850797196E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Four Bar Beam Left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Four Bar Beam Left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Four Bar Hip Joint Left"
    type="fixed">
    <origin
      xyz="0 0 0.0125999999927299"
      rpy="0 0 -2.77230613530374" />
    <parent
      link="Hip Left" />
    <child
      link="Four Bar Beam Left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Four Bar Link Left">
    <inertial>
      <origin
        xyz="0.0013533333987228 0.181737719129237 -0.00161259357685928"
        rpy="0 0 0" />
      <mass
        value="0.0989530157229724" />
      <inertia
        ixx="0.000223264885095325"
        ixy="-1.70418978052495E-14"
        ixz="1.87371389216926E-07"
        iyy="5.44500567422448E-06"
        iyz="-1.25771127072518E-14"
        izz="0.00022454090634655" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Four Bar Link Left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.498039215686275 0.498039215686275 0.498039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Four Bar Link Left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Four Bar Pivot Left"
    type="fixed">
    <origin
      xyz="-0.14835678273478 -0.00979249064896701 0.00249999999174583"
      rpy="-3.14159265353223 0.528504087996463 -1.23828655619901" />
    <parent
      link="Four Bar Beam Left" />
    <child
      link="Four Bar Link Left" />
    <axis
      xyz="0 0 0" />
  </joint>

  <joint
    name="Hip Joint Left"
    type="fixed">
    <origin
      xyz="0.249999999987394 0 -0.00480000002734837"
      rpy="0 0 2.97481540229787" />
    <parent
      link="Hip Left" />
    <child
      link="Femur Left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Shin Left">
    <inertial>
      <origin
        xyz="-0.0101137404936142 0.000349082459925154 0.00344014936558201"
        rpy="0 0 0" />
      <mass
        value="0.459402062312658" />
      <inertia
        ixx="5.3022580039485E-05"
        ixy="-8.89734559501902E-07"
        ixz="6.28886878596368E-13"
        iyy="0.00658383839579555"
        iyz="-1.46731789344475E-08"
        izz="0.00662613644880214" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Shin Left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Shin Left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Knee Left"
    type="fixed">
    <origin
      xyz="0.0156501396439831 -0.464826312132183 0.0229000000135512"
      rpy="0 0 -0.703472462616399" />
    <parent
      link="Femur Left" />
    <child
      link="Shin Left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Foot Left">
    <inertial>
      <origin
        xyz="0.0433981157265454 0.017372685298235 -0.154674688414417"
        rpy="0 0 0" />
      <mass
        value="0.497957719619419" />
      <inertia
        ixx="0.000883684161198164"
        ixy="-1.72664143651408E-09"
        ixz="0.000248106653071407"
        iyy="0.000946005628113021"
        iyz="-7.05041956111119E-10"
        izz="0.000138873873072778" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Foot Left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Foot Left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Ankle Right"
    type="fixed">
    <origin
      xyz="0.262596767416777 0.059745827745814 0.0211999998653724"
      rpy="-1.57079632673352 0 -0.207795891349794" />
    <parent
      link="Shin Left" />
    <child
      link="Foot Left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Achilles Tendon Left">
    <inertial>
      <origin
        xyz="0.0998053974114031 0.0657157595764849 -7.58478739828483E-05"
        rpy="0 0 0" />
      <mass
        value="0.309625411601379" />
      <inertia
        ixx="0.000164340798125385"
        ixy="-0.000203839727739998"
        ixz="-1.23839633505047E-07"
        iyy="0.000339741032206026"
        iyz="-8.02597230903611E-08"
        izz="0.000475041413986389" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Achilles Tendon Left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://000_Assy_Full.SLDASM/meshes/Achilles Tendon Left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Achilles Pivot Left"
    type="fixed">
    <origin
      xyz="-0.123782377809959 -0.263397366937607 0.0480999998954914"
      rpy="-3.14159265312583 0 -0.121217833693119" />
    <parent
      link="Femur Left" />
    <child
      link="Achilles Tendon Left" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>